@tailwind base;
@tailwind components;
@tailwind utilities;

.ctaBg{
    background-size: 200% 100%;
}
.gradients{
    background:  linear-gradient(180deg,#f4f8ff,#fff0);
}
.footerSection{
    background: linear-gradient(to right,#eef9fe,#edf7ff);
}
.companyList{
    animation: moveImage 15s infinite linear;
}
@keyframes moveImage{
    0%{
        top: 0;
    }
    100%{
        top: -100%;
    }
}